@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    padding: 0px 50px 0px 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.65;
    color: inherit;
}

.opacity-hover:hover {
    opacity: 0.65;
    color: black;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}
.react-wordcloud .wordcloud-word:hover {
    scale: 1.2 !important;
    font-weight: bold !important;
  }